<div class="background"></div>
<div class="login w-100 d-flex align-items-center justify-content-center px-2 px-lg-0">
  <div class="form-input col col-md-6 col-lg-4">
    <form class="d-flex flex-column" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="row d-flex justify-content-center py-2 heading-wrap">
        <h1 class="heading text-center text">Khôi phục tài khoản</h1>
      </div>

      <div class="normal-input row"> <!-- has-error -->
        <div class="col-12 col-lg-12 my-1">
          <div class="input-wrap mt-1">
            <label for="taiKhoan">Mật khẩu mới:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
              </div>
              <input class="form-control" id="taiKhoan" formControlName="password" type="password"/>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-12 mb-1">
          <div class="input-wrap mt-1">
            <label for="taiKhoan">Nhập lại mật khẩu:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
              </div>
              <input class="form-control" id="taiKhoan" formControlName="confirmPassword" type="password"/>
            </div>
          </div>
        </div>

      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn-login">Xác nhận</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
