<div class="container-fluid" >
  <div class="row" style="width: 100%; margin-top: 100px">
    <div class="col-3">
    </div>
    <div class="col-6" style="border: 3px solid #f26b38; padding: 30px">
      <div class="row">
        <div class="col-4">
          <img src="{{movie?.posterMovie}}" width="200" height="300" alt="poster">
          <div class="container content-wrap">
            <div class="play-bt trailer-bt-banner" (click)="openTrailer(movie.trailer)">
              <button class="btn primary animated fadeInUp c11-trailer" (click)="openTrailer(movie.trailer)"></button>
            </div>
          </div>
        </div>
        <div class="col-8 noi_dung_detail">
          <h3 style="font-size: 22px; font-weight: 500">{{movie?.movieName}}</h3>
          <h3 style="color: #a0a3a7">{{movie.movieName}}</h3>
          <div class="fa fa-clock" style="padding: 10px 0">{{movie?.movieLength}} <span>phút</span></div>
          <div style="padding: 10px 0 5px 0" >Thể loại: <span *ngFor="let mv of movie?.movieCategorySet">{{mv.category.categoryName}}</span></div>
          <div style="padding: 5px 0 5px 0">Đạo diễn: <span>{{movie?.director}}</span></div>
          <div style="padding: 5px 0 5px 0">Nhà sản xuất: <span>{{movie?.movieStudio}}</span></div>
          <div style="padding: 5px 0 5px 0">Diễn viên: <span>{{movie?.actor}}</span></div>
        </div>
      </div>
      <div class="noi_dung" style="padding-top: 40px">
        <h3>Nội dung phim</h3>
        <p style="font-size: 15px; text-align: justify">
          {{movie?.description}}</p>
      </div>

    </div>
    <div class="col-3" style="text-align: end; margin: 0; padding: 0">
    </div>
  </div>
  <div class="m-0 p-0" *ngIf="displayTrailer">
    <app-trailer (closed)="closeTrailer()" [url]="trailer">
    </app-trailer>
  </div>
</div>
