<p style="font-size: 17px">Bạn có chắc muốn xóa phim có tên là <label style="color: red"> {{deleteName}}</label> và có ngày chiếu là <label style="color: red"> {{deleteStartDate}}</label> không ?</p>
<p style="color: red " ><strong>Hành động này không thể được hoàn tác !</strong></p>
<div class="row d-flex justify-content-end">
  <button class="btn btn-secondary" style="width: 100px;margin-right: 20px" data-dismiss="modal" id="closeModal" >Hủy</button>
  <button class="btn btn-danger mr-3" style="width: 100px" (click)="deleteMovie()"  data-dismiss="modal">Xóa</button>
</div>
