.table-striped td, .table-striped th {
  border: 1px solid #dee2e6;
  vertical-align: middle;
  padding: 5px;
}

.table-striped th:last-child {
  width: 170px;
}

.table-striped td:last-child {
  display: flex;
  justify-content: space-around;
}

th {
  text-align: center;
}

.search {
  width: 200px;
  border: 1px solid lightgray;
}

.btn.primary {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #05386b;
  padding: 15px;
  text-decoration: none;
  line-height: 1;
}

.btn.primary:hover {
  background-color: rgba(5, 56, 107, 0.88);
}

.pagination {
  cursor:pointer;
}
.page-item.active .page-link{
  background-color: #05386B;
  border-color: #05386B;
}
.page-link{
  color: #05386B;
}
