<div class="background"></div>
<div class="login w-100 d-flex align-items-center justify-content-center px-2 px-lg-0">
  <div class="form-input col col-md-6 col-lg-4">
    <form class="d-flex flex-column" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row d-flex justify-content-center py-2 heading-wrap">
        <h1 class="heading text-center text">Quên mật khẩu</h1>
      </div>

      <div class="normal-input row"> <!-- has-error -->
        <div class="col-12 col-lg-12 my-1">
          <div class="input-wrap mt-1">
            <div class="input-group">
              <input class="form-control" placeholder="Email" id="taiKhoan" type="text" formControlName="email"/>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-12 my-1">
          <div class="row">
            <div class="col col-8 m-0">
              <div class="input-wrap mt-1">
                <div class="input-group">
                  <input class="form-control" placeholder="Mã xác nhận" id="taiKhoan" type="text"/>
                </div>
              </div>
            </div>
            <div class="col col-4 d-flex">
              <div class="input-wrap mt-1">
                <div class="input-group">
                  <button class="btn-get-code"><span>Lấy mã</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>


<!--        <div class="col col-12 error-message">-->
<!--          <span>Tài khoản này không tồn tại hoặc chưa được kích hoạt</span>-->
<!--        </div>-->

      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-center" role="status">
            <button class="btn-login" [disabled]="isDisable||userForm.invalid" type="submit"><span #submitButton>Gửi</span></button>
          </div>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-center">
            <span class="text-primary" routerLink="/login">Quay về trang đăng nhập</span>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
