<!--<p style="color: red">Hello bạn {{user.name}}</p>-->
<button class="button button-warning" (click)="logout()">Đăng xuất</button>
<div class="container-fluid">
  <div class="row" id="header" style="height: 50px">
    <div class="col-4" style="width: 100%; text-align: end; margin-top: 2px;padding-right: 130px">
      <img src="assets/picture/LogoPage.png" width="150" height="45" routerLink="#">
    </div>
    <div class="col-8" style="margin: 0; padding: 4px 0 0 0">
      <div class="row search">
        <div class="col-6" style="padding-left: 100px">
          <div class="input-group" style="padding: 0 30px 0 0;">
            <!--          Search-->
            <input type="text" class="input-search form-control" style="height: 32px" placeholder="Nhập tên phim để tìm kiếm"
                   tabindex #keySearch id="header-search-input" (keyup.enter)="search(keySearch.value)">
            <div class="input-group-btn">
              <button class="btn btn-default" tabindex (click)="search(keySearch.value)"><i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row sign" style="vertical-align: center">
            <div class="col-7" style="text-align: end; top: 7px"><a href="#" style="font-size: 1rem; color: #05386B; font-weight: bold">Đăng
              nhập</a>
            </div>
            <div class="col-5" style="text-align: start; top: 7px"><a href="#" style="font-size: 1rem; color: #05386B; font-weight: bold">Đăng
              ký</a>
            </div>
          </div>
        </div>
        <div class="col-2" style="top: 35px; text-align: start">
        </div>
      </div>
    </div>
  </div>

  <!--  Thanh navbar-->
  <div class="row" style="justify-content: center; height: 40px">
    <div class="col-3" style="background-color: #05386B"></div>
    <div class="col-6" style="background-color: #05386B">
      <nav class="links" style="--items: 6; width: 100%; top: 10px;">
        <a routerLink="/booking/movie">MUA VÉ</a>
        <a href="#">RẠP/GIÁ VÉ</a>
        <a href="#">GÓC ĐIỆN ẢNH</a>
        <a href="#">SỰ KIỆN</a>
        <a href="#">HƯỚNG DẪN</a>
        <a href="#">CHÍNH SÁCH</a>
        <span class="line"></span>
      </nav>
    </div>
    <div class="col-3" style="background-color: #05386B"></div>
  </div>
</div>
