<div id="footer">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row" style="margin-top: 50px">
        <div class="col-3 widget_nav_menu">
          <h1 class="title-widget">
            GIỚI THIỆU</h1>
          <ul style="padding-left: 0; display: block">
            <li class="fa fa-angle-double-right"> VỀ CHÚNG TÔI</li>
            <li class="fa fa-angle-double-right"> THỎA THUẬN SỬ DỤNG</li>
            <li class="fa fa-angle-double-right"> QUY CHẾ HOẠT ĐỘNG</li>
            <li class="fa fa-angle-double-right"> CHÍNH SÁCH BẢO MẬT</li>
          </ul>
        </div>
        <div class="col-3 widget_nav_menu">
          <h1 class="title-widget">
            GÓC ĐIỆN ẢNH</h1>
          <ul style="padding-left: 0; display: block">
            <li class="fa fa-angle-double-right"> THỂ LOẠI PHIM</li>
            <li class="fa fa-angle-double-right"> BÌNH LUẬN PHIM</li>
            <li class="fa fa-angle-double-right"> BLOG ĐIỆN ẢNH</li>
            <li class="fa fa-angle-double-right"> PHIM HAY THÁNG</li>
          </ul>
        </div>
        <div class="col-3 widget_nav_menu">
          <h1 class="title-widget">
            HỖ TRỢ</h1>
          <ul style="padding-left: 0; display: block">
            <li class="fa fa-angle-double-right"> GÓP Ý</li>
            <li class="fa fa-angle-double-right"> SALES & SERVICES</li>
            <li class="fa fa-angle-double-right"> RẠP/GIÁ VÉ</li>
            <li class="fa fa-angle-double-right"> TUYỂN DỤNG</li>
          </ul>
        </div>
        <div class="col-3 widget_nav_menu">
          <h1 class="title-widget">
            KẾT NỐI A0321I1 CINEMAX</h1>
          <i class="icon fab fa-facebook"> Facebook</i>
          <i class="icon fab fa-instagram"> Instagram</i>
          <i class="icon fab fa-youtube"> Youtube</i>
          <i class="icon fab fa-twitter"> Twitter</i>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <img src="assets/picture/Logo-page-pgdn.png" width="150" height="45"><i style="color: #d8d8d8; padding-left: 10px">Lớp
      A0321I1, Tầng 10, Toà Nhà
      Viện Đại Học Mở Hà Nội-Trung Tâm Đà Nẵng, Số 295 Nguyễn Tất Thành, Thanh Bình, Hải Châu, Đà Nẵng</i>
    </div>
    <div class="col-2"></div>
  </div>
</div>
