

.layout {

}

.customer-header {
  background: #b3d7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.container-custom {
  display:flex;
  height: 100vh;

}



.table-striped td, .table-striped th {
  border: 1px solid #dee2e6;
  vertical-align: middle;
  padding: 5px;
}



.table-header th {
  background: #607D8B; color: white;
}

​
.table-striped th:last-child {
  width: 170px;
}

​
.table-striped td:last-child {
  display: flex;
  justify-content: space-around;
}

​
th {
  text-align: center;
  background: #607D8B;
  color: white;
}

.search {
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 0
}
.header_top{
  /*margin-top: 75px;*/
}
.pagination {
  cursor:pointer;
}
