<div class="card-body pt-lg-5">
  <div class="row">
    <div class="col-lg-12 text-center">
      <img alt="avatar"
           class="avatar"
           src="asset/img/avatar.jpg">
    </div>


    <!--                    <img src="asset/img/avatar.jpg" height="600" width="600"/>-->
    <div class="col-lg-12 text-center">
      <h5 class="m-0">Lê Nga</h5>
      <p>Điểm tích lũy: 1000</p>
      <button class="btn btn-secondary" (click)="logout()">Đăng xuất</button>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <a>
    <button class="w3-button border-0 bg-transparent w-100 text-left p-lg-2"><i
      class="fas fa-user"></i> THÔNG TIN TÀI KHOẢN
    </button>
  </a>
</div>
<div class="col-lg-12">
  <a>
    <button class="w3-button border-0 bg-transparent w-100 text-left p-lg-2"><i
      class="fas fa-history"></i> LỊCH SỬ
    </button>
  </a>
</div>
<div class="col-lg-12">
  <a>
    <button class=" w3-button border-0 bg-transparent w-100 text-left p-lg-2"><i
      class="fas fa-ticket-alt"></i> QUẢN LÝ ĐẶT VÉ
    </button>
  </a>
</div>
